<footer class="footer">
    <div class="footer-content">
        <h2>William Chiroy Méndez</h2>
        <h5>2290 15 14801</h5>
    </div>
    <div class="">
        <i class=""></i>
        <i class=""></i>
        <i class=""></i>
        <i class=""></i>
    </div>
    </div>
</footer>