<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panels</title>
     <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="wrapper">

        <!-- Header -->
        {{> header}}
    
        <main class="main">
            <div class="info-content">
                <h2>Panels</h2>  
            <div class="divider"></div>
        <div class="divider"></div>
        <p>•	Camión articulado.</p>
        <p>•	Camión rígido</p>
        <p>•	Camión de plataforma abierta</p>
        <p>•	Camión cerrado</p>
        <p>•	Camión contenedor</p>
        <p>•	Camión con jaula</p>
        <p>•	Camión con lona</p>
        <p>•	Camión con cisterna</p>
        <p>•	Camión frigorífico</p>
            <button class="dowland-cv">
                <a href="https://www.youtube.com/watch?v=H25gtBPK0iQ" target="_blank">
                    Leer mas
                </a>
            </button>
            </div>
            <img src="images/Panels.jpg" class="foto1" alt="">
        </main>
    </div>

    <div class="container-contact">
        <img src="images/estadisticas-facebook.png" alt="">

        <div class="contact-form">
            <h4>Enviar un mensaje...</h4>

            <form class="form">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <textarea placeholder="Por favor coloca tu mensaje aqui...">
                </textarea>
                <button class="btn-submit">Enviar mensaje</button>
            </form>
        </div>
    </div>
</div>


<!-- Footer -->
{{> footer}}

</body>
</html>