<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParcialFinal_William</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="wrapper">

<!-- Header -->
    {{> header}}

    <main class="main">
        <div class="info-content">
            <h1>Vehiculos de<span> Carga </span> Pesada</h1>
            <p>En el transporte, el levantamiento de objetos pesados ​​se refiere al manejo e instalación de artículos pesados ​​que son</p>
            <p>indivisibles y de pesos generalmente aceptados superiores a 100 toneladas y con anchos/altos superiores a 100 metros.</p>
            <p><p>Estos artículos de gran tamaño se transportan de un lugar a otro (a veces a través de las fronteras del país) y luego se levantan o instalan en su lugar.</p></p>
            <a Video sobre vehiculos pesados href="https://www.youtube.com/watch?v=so9WaonCbWY" target="_blank">
                <button class="dowland-cv">Video de vehiculos Pesados</button>
            </a>
        </div>
        <img src="images/Panels.jpg" class="foto1" alt="">
    </main>
</div>

<div class="about" id="about">
    <img src="images/trailers.jpg" alt="foto2">
    <div class="about-info">  
        <h2>Tipos de vehiculos pesados</h2>  
        <div class="divider"></div>
        <p>•	Camión articulado.</p>
        <p>•	Camión rígido</p>
        <p>•	Camión de plataforma abierta</p>
        <p>•	Camión cerrado</p>
        <p>•	Camión contenedor</p>
        <p>•	Camión con jaula</p>
        <p>•	Camión con lona</p>
        <p>•	Camión con cisterna</p>
        <p>•	Camión frigorífico</p>
        <button class="dowland-cv">
            <a href="https://www.youtube.com/watch?v=H25gtBPK0iQ" target="_blank">
                Leer mas
            </a>
        </button>
    </div>
</div>

        <div class="projects-links">
            <a href="" target="_blank">
                <i class=""></i>
            </a>
            <a href="">
                <i class=""></i>
            </a>
            <a href="">
                <i class="" style="color: #fff;"></i>
            </a>
        </div>
        <div class="proyect-details-content">
            <button class="projects-details dowland-cv">
                <a href="">
                    Volver a Inicio
                </a>
            </button>
        </div>
        </div>
    </div>
</div>

<div class="portfolio"> 
    <div class="portfolio-headings">

        <div class="divider"></div>
    </div>


<div class="contact-section" id="contact-section">
    <div class="contact-headings">
        <h2>Mantenerse en contacto</h2>
        <div class="divider"></div>
    </div>


    <div class="container-contact">
        <img src="images/estadisticas-facebook.png" alt="">

        <div class="contact-form">
            <h4>Enviar un mensaje...</h4>

            <form class="form">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <textarea placeholder="Por favor coloca tu mensaje aqui...">
                </textarea>
                <button class="btn-submit">Enviar mensaje</button>
            </form>
        </div>
    </div>
</div>


<!-- Footer -->
{{> footer}}


</body>
</html>